
.table{
    width: 100%;
    min-width: 600px;
    font-family: Inter;
    text-align: center;
    border-collapse:collapse;
    font-size: 14px;
  }
  
  .table th{
    font-weight:normal;
    color:rgb(100, 99, 99)
  }
  .table tbody tr:hover{
    background-color: rgb(241, 241, 241);
  }
  .table tr{
    cursor: pointer;
  }
  .table th,.table td{
    border-bottom: 1px solid rgb(204, 204, 204);
    padding-top:1em;
    padding-bottom: 1em; 
  } 
  
  .table .bookstatus{
    background-color: #A6E7D8;
    color: #219A7D;
    padding: 0.3em;
    border:  2px solid #219A7D;
    border-radius: 0.3em;
  }
  .table .bookstatus.unavailable{
    background-color: #FFC5C5;
    color: #E31C1C;
    border:  2px solid #E31C1C;
  
  }
  .table .table-img{
    width: 2.5em;
    height: 2.5em;
  }